<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FriendFindr</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-App-20x20@1x.png</string>
		<string>Icon-App-20x20@2x.png</string>
		<string>Icon-App-20x20@3x.png</string>
		<string>Icon-App-29x29@1x.png</string>
		<string>Icon-App-29x29@2x.png</string>
		<string>Icon-App-29x29@3x.png</string>
		<string>Icon-App-40x40@1x.png</string>
		<string>Icon-App-40x40@2x.png</string>
		<string>Icon-App-40x40@3x.png</string>
		<string>Icon-App-57x57@1x.png</string>
		<string>Icon-App-57x57@2x.png</string>
		<string>Icon-App-60x60@1x.png</string>
		<string>Icon-App-60x60@2x.png</string>
		<string>Icon-App-60x60@3x.png</string>
		<string>Icon-App-72x72@1x.png</string>
		<string>Icon-App-72x72@2x.png</string>
		<string>Icon-App-76x76@1x.png</string>
		<string>Icon-App-76x76@2x.png</string>
		<string>Icon-App-76x76@3x.png</string>
		<string>Icon-App-83.5x83.5@2x.png</string>
		<string>Icon-Small-50x50@1x.png</string>
		<string>Icon-Small-50x50@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RIC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to access your photos for you to use images in this app.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
